name: Test Workflow
on: 
  push:
    branches:
      - main
      - feature/*
  pull_request:
    types: [opened,closed, ready_for_review, assigned, synchronize]

  issues:
    types: [opened, closed, reopened]
  branch_protection_rule:
    types: [ created, deleted, edited]
  fork:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Dependencies
        run: npm ci
      - name: Run Tests
        run: npm test
